img.header
{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

img.edit_menu, img.plus_menu, img.delete_menu, img.calc_menu,img.calendar_menu, img.shutdown_menu
{
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

tr.titel{
  font-weight: bold;
}

tbody>tr:hover>td>a{
  color: #ffffff;
}

@media (max-width: 768px)
{
    img.header
    {
        display: none;
    }

    img.logo
    {
        height: 30px;
    }
}
